<template>

  <require from="system/component/component"></require>
  <div class="row">
    <div class="container">
      <div class="col-md-6">
        <div repeat.for="component of leftColumn">
          <component type.bind="component.type" id.bind="component.id"></component>
        </div>
      </div>
      <div class="col-md-6">
        <div repeat.for="component of rightColumn">
          <component type.bind="component.type" id.bind="component.id"></component>
        </div>
      </div>
    </div>
  </div>
</template>